/* This is the main stylesheet file for writing css codes */

/* Boostrap Styles Override */
a {
  text-decoration: none !important;
}

nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); /* adds a smooth filter to the backgrounds */
}

main {
  margin: 8rem auto 5rem auto !important;
}
