/* This is the main stylesheet file for writing css codes */

/* 
Primary Color : #573BD3
Secondary Color : #573BD3
*/

/* Boostrap Styles Override */

body {
  margin-top: 8rem !important;
}

a {
  text-decoration: none !important;
}

nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); /* adds a smooth filter to the backgrounds */
}

footer {
  margin-top: 4rem !important;
}
